:root.theme-dark {
  --background-color__page: #000028;
  --background-image__header: url(../images/cover-image-dark.png);
  --color__text: #000028;
  --accent-color: #FF0070;
  --color__frame: #FF0070;
  --text-color__button: #FF0070;
  --border-color__button: #FF0070;
  --border-color__button-hover: rgba(255, 0, 112, 0.4);
  --color__title: #DB00FF;
  --color__text-section-title: #FF0070;
  --color__text-paragraph: #F1B2CE;
}

.theme-dark .page {
  --background-color__page: #000028;
  --background-image__header: url(../images/cover-image-dark.png);
  --color__text: #000028;
  --accent-color: #FF0070;
  --color__frame: #FF0070;
  --text-color__button: #FF0070;
  --border-color__button: #FF0070;
  --border-color__button-hover: rgba(255, 0, 112, 0.4);
  --color__title: #DB00FF;
  --color__text-section-title: #FF0070;
  --color__text-paragraph: #F1B2CE;
}

.theme-dark .page .header__theme-decor {
    display: flex;
  }