:root.theme-light {
  --background-color__page: #FFF1F7;
  --background-image__header: url(../images/cover-image-light.png);
  --color__text: #353430;
  --accent-color: #FF8DCB;
  --color__frame: #353430;
  --text-color__button: #353430;
  --border-color__button: #353430;
  --border-color__button-hover: rgba(50, 49, 45, 0.4);
  --color__title: #FFC2E6;
  --color__text-section-title: #353430;
  --color__text-paragraph: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color__page: #FFF1F7;
    --background-image__header: url(../images/cover-image-light.png);
    --color__text: #353430;
    --accent-color: #FF8DCB;
    --color__frame: #353430;
    --text-color__button: #353430;
    --border-color__button: #353430;
    --border-color__button-hover: rgba(50, 49, 45, 0.4);
    --color__title: #FFC2E6;
    --color__text-section-title: #353430;
    --color__text-paragraph: #353430;
  }
  .header__theme-decor {
    display: none;
  }
}